<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="firstname" value="Ganesh"></parameter>
  <parameter name="lastname" value="Patil"></parameter>
    <classes>
      <class name="testNgpackage.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
